.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
}
li{
    margin-left: 20px;
}
.logo a{
    font-size: 2rem;
}
